<h1> Welcome to admin panel</h1>

<form action="/admin" method="post">

  Enter you'r name</br>
  <input type="text" name="admin_name"> </br>
  Enter password</br>
  <input type="password" name="admin_password"> </br>
  <input type="submit">

</form>

<h2> <%= @fail_message %></h2>
