<h1> Hello, my name is Igor and i'm psychologist </h1>

<h3> You can make an appointment</h3>

<h5> Fill in this form , and come to your time </h5>

<form action="/" method="post">

  Enter you'r name</br>
  <input type="text" name="client_name" color="green"> </br>
  Enter date</br>
  <input type="text" name="client_date"> </br>
  Enter time</br>
  <input type="text" name="client_time"> </br>
  <input type="submit">

</form>
